.skills__container{
    row-gap: 2rem;
    text-align: center;
}

.skills__subtitle{
    margin-bottom: 1rem;
}

.skills__text {
    margin-bottom: 2rem;
}
.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 3rem;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49,.15);
}
.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4070f4;
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}

/*.skills__img {
    width: 200px;
    justify-self: center;
    border-radius: .5rem;
}*/