
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.home {
    min-height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.home__data {
    align-self: center;
}
.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home__title-color {
    color: var(--first-color);
}
.home__social {
    display: flex;
    flex-direction: column;
}
.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--second-color);
}
.home__social-icon:hover{
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 329px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }
/*=====BOTOnes=====*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    text-decoration: none;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}

.button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0,.15);
}

@media screen and (min-width: 768px) {
    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }
    .home__social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home__social-icon{
       margin-bottom: 0;
       margin-right: var(--mb-4);
    }

    .home__img {
        width: 450px;
       /*  bottom: 15%; */
    }

}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        padding: 10rem 0 2rem;
    }

    .home__img {
        width: 450px;
    }
}