.about__container {
    row-gap: 2rem;
    text-align: center;
    color: var(--first-color);
}

p {
    color: black;
}

.about__subtitle {
    margin-bottom: 1rem;
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}
@media screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    .about__container {
        padding-top: 2rem;
    }

    .about__img img {
        width: 300px;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        text-align: initial;
    }
}