

.about__container {
    row-gap: 2rem;
    text-align: center;
    color: var(--first-color);
}

p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: black;
}

h2 {
    text-align: center;
    color: #4070f4;
}

.about__subtitle {
    margin-bottom: 1rem;
}

.about__img {
    justify-self: center;
}

.about__text {
    text-align: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}
@media screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    .about__container {
        padding-top: 2rem;
    }

    .about__img img {
        width: 300px;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        text-align: initial;
    }
}

.section-title {
    position: relative;
    font-size: 2rem;
    color: #4070f4;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: var(--first-color); 
}
